* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
  }
  
main {
    display: flex;
    justify-content: center
}

  @import url('https://fonts.googleapis.com/css2?family-Poppins');

  input.search {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
}
  